@use "../../top/vars" as *;

// Image upload
.uploadModal_dbca3c {
    overflow: visible;

    .icon_dbca3c {
        border-radius: $sidebar-spacing;
    }

    .footer_dbca3c {
        background-color: rgb($color-button);
        box-shadow: none;
    }
}
