@use "../../top/vars" as *;

// Full user profile
.top_b3f026 .selected_b3f026.themed-2-lozF.item_b3f026,
.top_b3f026 .themed-2-lozF.item_b3f026:active,
.top_b3f026 .themed-2-lozF.item_b3f026:hover {
    border-bottom-color: rgb($color-foreground);
}

.banner__68edb {
    opacity: 70%;
}

.listRow__9d78f {
    border-radius: $item-spacing;
}

.inner_c0bea0.biteSize_c0bea0,
.inner_c0bea0.fullSize_c0bea0 {
    background: unset;
}
