@forward "./channel";
@forward "./server";
@forward "./user";

@use "../../../top/vars" as *;
@use "../../../top/tint";
@use "../../../top/box";
@use "../../../top/slider";

// Settings
.standardSidebarView__23e6b {
    @include box.outmost;

    // Scanline and tint overlay over whole view
    &::after {
        @include tint.scanline-overlay;
        width: 100%;
        height: 100%;
        border-radius: calc($outmost-spacing - $outmost-border-width);
        background-color: $overlay-color;
    }

    // Settings sidebar
    .sidebar__23e6b {
        .item_b3f026,
        .background_e681d1 {
            border-radius: $size-s;
        }
    }

    // Large menu items and info cards
    .item__001a7,
    .radioBar__001a7,
    .card__73069,
    .container__6436f {
        border-radius: $size-m;
    }

    // Bar sliders
    .slider_a562c8 {
        .markDash_a562c8 {
            background: rgb($color-foreground);
        }

        .defaultValue_a562c8 .markValue_a562c8 {
            color: rgb($color-text);
        }

        .bar_a562c8 {
            background: transparentize($color-pop, 0.5);
            overflow: visible;

            .barFill_a562c8 {
                border-radius: $size-xs;
                @include slider.bar($color-pop);
            }
        }

        .grabber_a562c8 {
            $grabber-size: 15px;
            border: none;
            height: $grabber-size;
            width: $grabber-size;
            margin-top: calc($grabber-size / -2);
            margin-left: calc($grabber-size / -2);
            border-radius: $grabber-size;
            @include slider.bar($color-pop);
        }
    }

    // Remove item x bubble
    .default_e18686 {
        background-color: var(--status-danger);
        background-image: url(https://discord.com/assets/eb69ec9fdd30653a3ade1ab501a7cd3d.svg);
    }

    // Careful you have unsaved changes!
    .container_fcf29c {
        background-color: transparentize($color-green, 0.5) !important;
        border-radius: $size-m;
    }
}
