@use "../top/vars" as *;

// Tooltips
.appMount__51fd7 .tooltip__382e7 {
    background-color: transparentize($color-pop, 0.2);
    border-radius: 20px;
    box-shadow: 0 0 5px 0 rgb($color-pop);

    .tooltipPointer__382e7 {
        border-top-color: rgb($color-pop);
    }
}
