@use "../../../../top/vars" as *;

// Audit Log
.auditLog__43dab {
    border-radius: $sidebar-spacing;
    border-color: rgb($color-button);
    overflow: hidden;

    .headerClickable__43dab,
    .headerExpanded__43dab {
        background-color: transparentize($color-button, 0.7);
        color: rgb($color-text);
    }

    .changeDetails__43dab {
        background-color: transparentize($color-button, 0.9);
    }
}
