@use "../../../../top/vars" as *;

// Stickers
.tier_f15dca {
    border-radius: $sidebar-spacing;
    overflow: hidden;

    .tierHeaderLocked_f15dca {
        color: rgb($color-pop);
        background-color: transparentize($color-pop, 0.7);
    }

    .tierHeaderUnlocked_f15dca {
        @extend .tierHeaderLocked_f15dca;
        color: #{$color-text};
    }

    .tierBody_f15dca {
        background-color: transparentize($color-pop, 0.9);
        color: #{$color-text};
    }

    .wrapper__83b1d {
        background-color: transparentize($color-pop, 0.9);
    }
}
