@use "../../../../top/vars" as *;
@use "../../../../top/box";

// My Account
.accountProfileCard__1fed1 {
    @include box.blue;
    background-color: transparentize($color-background, 0.3);

    // Avatar
    .avatar__1fed1 {
        border: 0;
        margin: 7px;
    }
}
