@use "../top/vars" as *;

// Top bar
.title_f75fb0 {
    // Search
    .search__97492 .DraftEditor-root .DraftEditor-editorContainer {
        height: 24px;

        .searchFilter_bd8186,
        .searchAnswer_bd8186 {
            padding: 0 6px;
            border: 2px solid rgb($color-foreground);
            background: var(--background-modifier-selected);
            height: 22px;
            line-height: 18px;
        }

        .searchFilter_bd8186 {
            border-radius: 10px 0 0 10px;
        }

        .searchAnswer_bd8186 {
            padding-left: 0;
            border-radius: 0 10px 10px 0;
        }
    }
}

// Top bar shadow
.content_f75fb0:before,
.chat_f02135:before {
    display: none;
}
